# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
.metadata

# Maven
log/
target/

#Fitnesse
fitnesse/FitNesseRoot/ErrorLogs/
fitnesse/FitNesseRoot/RecentChanges/
fitnesse/FitNesseRoot/files/testResults/

*.zip
*.dump

